<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue购物车</title>
        <style>
            table, th, td {
                border: 1px solid #000;
                border-collapse: collapse; /*边框合并*/
            }
        </style>
    </head>
    <body>
        <div id="shop">
            <button v-on:click="addProduct">添加商品</button>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>商品图片</th>
                        <th>商品信息</th>
                        <th>赠送</th>
                        <th>商品金额</th>
                        <th>商品数量</th>
                        <th>总金额</th>
                        <th>编辑</th>
                    </tr>
                </thead>
                <tbody v-for="product in productList">
                    <tr>
                        <td><input type="checkbox" name="" id="" v-on:click="addCart(product)"></td>
                            <td><img v-bind:src="product.productImg" alt="无法显示图片，刷新试试" v-bind:title="product.productName" width="200px"></td>  <!--使用v-bind绑定元素固有属性 -->
                        <td>{{product.productName}}</td>
                        <td>
                            <ul>
                                <li v-for="part in product.parts">{{part.partsName}}</li>
                            </ul>
                        </td>
                        <td>{{product.productPrice}}</td>
                        <td>
                            <button v-on:click="reduce(product)">-</button>
                            <input type="text" v-bind:value="product.productQuentity">
                            <button v-on:click="add(product)">+</button>
                        </td>
                        <td>
                            {{product.productPrice * product.productQuentity}}
                        </td>
                        <td><a href="#" v-on:click="remove(product)">删除</a></td>
                    </tr>
                </tbody>
                <tfoot>
                    <td colspan="6">
                        <input type="checkbox" name="" id="">全选
                    </td>
                    <td>
                        总计{{totalPrice}}
                    </td>
                    <td>
                        <button>结账</button>
                    </td>
                </tfoot>
            </table>
        </div>
        
        <script src="js/vue.js"></script>
        <script src="node_modules/axios/dist/axios.min.js"></script>
        <script>
            var vm = new Vue({
                el: "#shop",
                data: {
                    productList: [],
                    cartList: [],
                    totalPrice: 0
                },
                computed: {

                },
                methods: {
                    addProduct: function () {   //添加商品
                        var newProduct = {
                            "productId": 333,
                            "productName": "王老吉",
                            "productPrice": 12,
                            "productQuentity": 0,
                            "productImg": "jiaduobao.jpg",
                        };
                        this.productList.push(newProduct);
                    },
                    addCart: function (product){    //
                        var index = this.cartList.indexOf(product);
                        if ( index == -1 ) {
                            this.cartList.push(product);
                        } else {
                            this.cartList.splice(index,1);
                        }
                        this.countTotalPrice();
                    },
                    countTotalPrice: function () {    
                        var _this = this;
                        this.totalPrice = 0;
                        //this._indexOf(this.cartList, prod);
                        // var index = this.cartList.indexOf(prod);
                        // if (index == -1 ) {
                        //     this.cartList.push(prod);
                        // } else {
                        //     this.cartList.splice(index, 1);
                        // }
                        this.cartList.forEach(function (product){
                            _this.totalPrice += product.productPrice * product.productQuentity;
                        });
                        //this.totalPrice = this.productList.productPrice * this.productList.productQuentity;
                    },
                    // _indexOf: function (arr, element){
                    //     var index = arr.indexOf(element);
                    //     if ( index == -1 ) {
                    //         arr.push(element);
                    //     } else {
                    //         arr.splice(index,1);
                    //     }
                    // },
                    reduce: function (product) {
                        if(product.productQuentity <= 0){
                            product.productQuentity = 0;
                        }else{
                            product.productQuentity--;                            
                        }
                        this.countTotalPrice();
                        //console.log(product.productQuentity);
                    },
                    add: function (product) {
                        product.productQuentity ++;
                        this.countTotalPrice();
                        //console.log(product.productQuentity);
                    },
                    // checkAll: function (){
                    //     this.addCart();
                    //     this.countTotalPrice();
                    // }
                    remove: function (product){
                        var index = this.productList.indexOf(product);
                        this.productList.splice(index,1);
                    }
                },
                mounted: function () {  //挂载 初始化
                    var _this = this;
                    this.$nextTick(function(){      //所有组件一起挂载
                        axios.get('products.json').then(function(response){
                            // console.log(response);
                         _this.productList = response.data.result.productList;
                        });
                    });
                }
            });

            // document.getElementById("btn-add").onclick = function () {
            //     var newProduct = {
            //         "productId": 333,
            //         "productName": "王老吉",
            //         "productPrice": 12,
            //         "productQuentity": 6,
            //         "productImg": "jiaduobao.jpg",
            //     };
            //     vm.productList.push(newProduct);
            // };
        </script>
    </body>
</html>